aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
dnspython==2.8.0
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
propcache==0.4.1
py-cord==2.6.1
pymongo==4.15.4
python-dateutil==2.9.0.post0
six==1.17.0
typing_extensions==4.15.0
yarl==1.22.0
Pillow
pilmoji
python-i18n
